:root {
    margin: 0;
    padding: 0;
  --background: #F7F3EE;
  --card: #E8DED2;
  --text: #201C19;
  --footer: #9888A5;
  --navbar: #9395D3;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    color: var(--text);
}

a {
    text-decoration: none;
    color: var(--text);
}

header {
    background-color: var(--background);
    width: 100%;
    display: flex;
    justify-content: center;
}

nav {
    background-color: var(--background);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-items: start;
}

#dropdown {
    grid-column: 2 / 3;
}

#account {
    grid-column: 8 / 9;
}

#winkelmandje {
    grid-column: 9 / 10;
}

#dropdown-btn {
    border: none;
    cursor: pointer;
}

#dropdown-cnt {
    position: absolute;
    margin: 8px;
    padding: 2px;
    border-radius: 10px ;
    display: none;
    flex-direction: column;
    gap: 8px;
    background-color: var(--card);
}

#dropdown:hover #dropdown-cnt {
    display: flex;
}

#cnt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6%;
}

#cnt-img {
    width: 45%;
    border-radius: 50px;
    /* margin-top: 6%;
    margin-right: 5%; */
}

#bloktekst {
    border: 2px solid black;
    border-radius: 50px;
    width: 50%;
    height: 38vh;
    text-align: center;
}

#info {
    font-size: 25px;
}
