:root {
  --background: #F7F3EE;
  --menu: #E8DED2;
  --text: #201C19;
  --footer: #ece7e2;
  --navbar: #9395D3;
}

#mandje {
    margin: 10px;
    width: 50%;
    height: 20pc;
    background-color: var(--menu);
    border-radius: 50pt;
}

#betalen {
    text-align: center;
    margin: 10px;
    width: 50%;
    height: 20pc;
    background-color: var(--menu);
    border-radius: 50pt;
}

.product {
    
}

.product img {
    width: 15%; 
    border-radius: 50pt;
}

