:root {
  --header: #F7F3EE;
  --background: #a6b996;
  --menu: #d3e6c4;
  --text: #201C19;
  --footer: #ece7e2;
  --navbar: #9395D3;
}

#mandje {
    text-align: center;

    padding: 20px;
    margin: 10px;
    width: 50%;
    background-color: var(--menu);
    border-radius: 50pt;
}

#betalen {
    text-align: center;
    margin: 10px;
    width: 50%;
    height: 20pc;
    background-color: var(--menu);
    border-radius: 50pt;
}

.product { 
    margin: 10px;
    display: flex;
}

.product img {
    padding: 10px;
    width: 15%; 
    border-radius: 50pt;
}

#betaal-knop {
    width: 50%;
    height: 10pc;
    font-size: 50px;
}

